<%- partial('_partial/head') %>
<body>
  <div id="container" class="container">
    <%- partial('_partial/header') %>
    <div id="main" class="main">
      <%- body %>
    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>