<footer id="footer">
	<span class="copyright">
		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
		Theme <a href="//github.com/c-concat-p/hexo-theme-apollo-soyuz" target="_blank">Apollo-Soyuz</a> forked from <a href="//github.com/joyceim/hexo-theme-apollo" target="_blank">Apollo</a><br>
		Powered by <a href="//hexo.io/" target="_blank">Hexo</a>
	</span>
    <nav class="nav">
        <ul>
            <% for (var i in theme.menu){ %><li><a href="<%- theme.menu[i] %>"><%= i %></a></li><% } %>
            <li><a id="nav-search-btn" class="nav-icon" title="Search"></a></li>
            <% if (theme.rss){ %><li><a href="<%- theme.rss %>" id="nav-rss-link" class="nav-icon" title="RSS Feed"></a></li><% } %>
        </ul>
    </nav>
    <div class="mobile-nav-panel">
        <i class="icon-reorder icon-large">&plus;</i>
    </div>
</footer>