<section id="static_background">
    <canvas id="galaxy1" class="galaxy"></canvas>
    <canvas id="galaxy2" class="galaxy"></canvas>
    <canvas id="galaxy3" class="galaxy"></canvas>
</section>
<header id="header">
    <h1 class="blog-title">
        <a href="<%- config.root %>"><%= config.title %></a>
    </h1>
    <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
    </div>
</header>
<nav id="top_nav">
    <ul><li><a id="nav_home" href="<%- config.root %>"><%= config.title %></a></li></ul>
    <section class="nav">
        <ul>
            <% for (var i in theme.menu){ %><li><a href="<%- theme.menu[i] %>"><%= i %></a></li><% } %>
            <li><a id="nav-search-btn" class="nav-icon" title="Search"></a></li>
            <% if (theme.rss){ %><li><a href="<%- theme.rss %>" id="nav-rss-link" class="nav-icon" title="RSS Feed"></a></li><% } %>
        </ul>
    </section>
</nav>
